/* CHAT CSS */

.chat-wrapper {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  height: 450px;
  width: 100%;
}

.chat-form {
  display: flex;
}

#chat {
  margin: 0 10px 0 0;
}

#say {
  width: 80px;
}

.message {
  line-height: 0.7em;
  opacity: 0.5;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  width: 45%;
  list-style-type: none;
}

.incoming {
  background-color: #abb5b5;
  margin-right: auto;
}

.outgoing {
  background-color: #7bc7c6;
  margin-left: auto;
}

.chat-messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* GAME CSS */

.container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}

body,
html {
  height: 99%;
}

.play {
  width: 10%;
}

.play:hover {
  cursor: pointer;
}

body {
  display: flex;
  padding: 0 100px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.game {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.card {
  margin: 5px;
  background-color: black;
  border: 5px solid transparent;
  align-items: center;
  display: flex;
}

.selected {
  border: 5px solid #ffdc00;
}

.player .card:hover {
  border: 5px solid #ffdc00;
  cursor: pointer;
}
