.container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}

body, html {
  height: 99%;
}

.play {
  width: 10%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 5px;
  background-color: black;
  border: 5px solid transparent;
}

.selected {
  border: 5px solid yellow;
}

.card:hover {
  border: 5px solid yellow;
}